<div class="row">
  <div class="span6">
    <%= simple_form_for(@booking, :html => {:class => 'form form-horizontal'}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :date, :as => :string,
            :input_html => { :class => 'span2', :readonly => @booking.last_step?, 
              :value => (@booking.date.strftime("%A, %d %B %Y") if @booking.date) } %>
        <%= f.input :time_start, :as => :string, :readonly => @booking.last_step?,
            :input_html => { :class => 'span1', :value => (@booking.time_start.strftime("%H:%M %p") if @booking.time_start) } %>
        <%= f.input :time_finish, :as => :string, :input_html => { :class => 'span1'}, :readonly => @booking.last_step?,
             :input_html => { :class => 'span1', :value => (@booking.time_finish.strftime("%H:%M %p") if @booking.time_finish) } %>
        <%= f.input :note, :input_html => {:cols => 50, :rows => 3} %>

        <%= f.input :conference_number_id, :required => true, 
            :collection => @conference_numbers, :as => :select, :include_blank => false if @booking.last_step? %>
      </div>
  
      <div class="form-actions">
        <% if authorise_action?(current_user) %>
          <%= f.submit (@booking.last_step? ? "Book" : "Check availability"), :class=>'btn btn-primary' %>
          <%= f.submit "Reschedule", :name => "reschedule", :class => 'btn btn-warning' if @booking.last_step? %>
          <% unless @booking.new_record? %>
            <%= link_to @booking, confirm: 'Are you sure you want to cancel this booking?', method: :delete, 
              :class=>'btn btn-danger' do  %>
              <i class="icon-trash icon-white"> </i> Cancel this booking
            <% end %>
          <% end %>
        <% end %>
        
        <%= link_to '<i class="icon-remove"></i> Cancel'.html_safe, my_path, :class => 'btn' %>
      </div>
      

    <% end %>
  </div>
</div>
