<legend>Listing bookings</legend>

<table class="table table-striped">
  <thead>
    <tr>
    	<th>User</th>
	    <th>Conference Number</th>
	    <th>Date</th>
	    <th>Time start</th>
	    <th>Time finish</th>
	    <th>Note</th>
	    <th>Actions</th>
	  </tr>
  </thead>
<tbody>
	
<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.user.first_name %>  <%= booking.user.last_name %></td>
    <td><%= booking.conference_number.conference_number %></td>
    <td><%= booking.date %></td>
    <td><%= booking.time_start %></td>
    <td><%= booking.time_finish %></td>
    <td><%= booking.note %></td>
    <td>
      <%= link_to 'Edit', edit_booking_path(booking), :class=>'btn btn-mini btn-primary' %>
      <%= link_to 'Destroy', booking, confirm: 'Are you sure?', method: :delete, :class=>'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

<%= link_to 'New Booking', new_booking_path, :class => 'btn btn-primary' %>
