<div class="row">
  <div class="span10">
    <legend>Listing bookings</legend>

    <table class="table table-striped">
      <thead>
        <tr>
        	<th>User</th>
    	    <th>Conference Number</th>
    	    <th>Date</th>
    	    <th>Time start</th>
    	    <th>Time finish</th>
    	    <th>Note</th>
    	    <th>Actions </th>
    	  </tr>
      </thead>
    <tbody>

    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.user.first_name %>  <%= booking.user.last_name %></td>
        <td><%= booking.conference_number.conference_number %></td>
        <td><%= booking.date.strftime('%A, %d %B %Y') %></td>
        <td><%= booking.time_start.strftime('%I:%M %p') %></td>
        <td><%= booking.time_finish.strftime('%I:%M %p') %></td>
        <td><%= truncate(booking.note, :length => 25, :omission => '... (cont)') %></td>
        <td>
          <%= link_to '<i class="icon-list-alt icon-white"></i> Edit'.html_safe, edit_booking_path(booking), 
            :class=>'btn btn-mini btn-primary' if authorise_action?(booking.user.id) %>
          <%= link_to '<i class="icon-remove icon-white"></i> Cancel'.html_safe, booking, confirm: 'Are you sure?', method: :delete, 
            :class=>'btn btn-mini btn-danger' if authorise_action?(booking.user.id) %>
        </td>
      </tr>
    <% end %>
    </tbody>
    </table>
    
    <div class="pagination-centered"> <%= will_paginate @bookings %> </div>

    <%= link_to new_booking_path, :class => 'btn btn-primary' do %>
      <i class="icon-pencil icon-white"> </i> New Booking
    <% end %>
  </div>
</div>