<%= simple_form_for(@user, :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, :required => true, :autofocus => true, :hint => username_change_hint, :disabled => username_change? %>
    <%= f.input :password, :required => true, :hint => password_hint %>
    <%= f.input :first_name, :required => true %>
    <%= f.input :last_name, :required => true %>
    <%= f.input :telephone_number, :required => true %>
    <%= f.input :admin if (current_user && current_user.admin?) %>
    <%= f.input :admin_notifications if (current_user && current_user.admin?) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to '<i class="icon-remove"></i> Cancel'.html_safe, root_url, :class => 'btn'  %>

    <% if current_user && authorise_action(@user.id) %>
      <%= link_to @user, confirm: 'Are you sure you want to delete your account?', method: :delete, :class=>'btn btn-danger' do %>
        <i class="icon-trash icon-white"> </i> Delete this account
      <% end %>
    <% end %>
  </div>

<% end %>
