<legend>Listing users</legend>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="span2">Name</th>
      <th class="span2">Username</th>
      <th class="span2">Telephone Number</th>
      <th class="span1">Admin</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

	<% @users.each do |user| %>
	  <tr>
	    <td><%= link_to user.full_name, edit_user_path(user) %></td>
	    <td><%= link_to user.username, edit_user_path(user) %></td>
	    <td><%= link_to user.telephone_number, edit_user_path(user) %></td>
	    
	    <td> 
	      <% if user.admin? %>
	        <i class="icon-ok"></i>
	      <% end %>
	    </td>
	    
	    <td>
  			<%= link_to(edit_user_path(user), :class=> 'btn btn-mini btn-primary') do %>
    			<i class="icon-user icon-white"> </i> Edit
  		  <% end %>
		  
      	<%= link_to user, confirm: 'Are you sure?', method: :delete, :class=>'btn btn-mini btn-danger' do %>
  	    	<i class="icon-trash icon-white"> </i> Delete
      	<% end %>
  		</td>
	  </tr>
	<% end %>
	</tbody>
</table>

<%= link_to '<i class="icon-pencil icon-white"></i> New User'.html_safe, new_user_path, :class=>'btn btn-primary' %>

