<%= simple_form_for(@conference_number, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :conference_number %>
  </div>

  <div class="form-actions">
		<%= f.button :submit, :class => 'btn btn-primary' %>
		<%= link_to '<i class="icon-remove"></i> Cancel'.html_safe, conference_numbers_path, :class => 'btn' %>
  </div>
<% end %>
