<% if current_user %>
  <ul class="nav">
    <li><%= link_to "New booking", new_booking_path  %></li>
    <li><%= link_to "My bookings", my_path  %></li>
    <li><%= link_to "Conference numbers", conference_numbers_path  %></li>
    <li><%= link_to "Users", users_path if current_user.admin?  %></li>
    <li><%= link_to "Bookings", bookings_path  %></li>
  </ul>
<% end %>